.container{
    width: 1200px;
    margin: 0 auto;
    outline: 3px solid pink;
}
.iam{
    border-radius: 100%;
    margin-left:30px;
}
.header{
    display: flex;
    height: 90px;
    width: 1200px;
    justify-content: space-between;
    display: fixed;
}
.link{
    list-style-type: none;
}
.links{
    display: flex;
    width: 400px;
    height: 100px;
    justify-content: space-between;
    margin-top: 35px;
    font-family: Arial, Helvetica, sans-serif;
}
.name{
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}
.main-name{
    font-family: Open Sans», sans-serif;
    color: white;
    margin-left:45px;
}
.bio{
    font-family: Arial, Helvetica, sans-serif; 
}
.home{
    background:#272935;
    padding: 30px;
    display: flex;
}
.who{
    color: #98a6ad;
    margin-left: 115px;
    font-family: Arial, Helvetica, sans-serif; 
}
.text-bio{
    margin-left: 70px;

}
.title-bio{
    color: #98a6ad;
    font-family: Arial, Helvetica, sans-serif; 
}
.bio{
    color: white;
    font-size: 17px;
}
.interesting{
    color: #98a6ad;
    font-family: Arial, Helvetica, sans-serif; 
}
.mark{
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
}
.social-networks{
    margin-left: 120px;
}
.skills-and-abilities{
    background-color: #23252f;
    padding-top: 50px;
    width: 1200px;
}
.title-skills{
    color: #98a6ad;
    font-family: "montserrat" ,sans-serif;
    margin-top: 80px;
    text-align: center;
}
.skills-grid{
    padding-top: 70px;
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 200px 200px 200px;
    column-gap: 100px;
    row-gap: 40px;
    margin: 0 auto;
    padding-bottom: 100px;
}
.title-details{
    color: white;
    font-family: "montserrat" ,sans-serif;
    text-align: center;
}
.title-html{
    margin-left: 10px;
    color: white;
    font-family: "montserrat" ,sans-serif;
}
.title-css{
    margin-left: 8px;
    color: white;
    font-family: "montserrat" ,sans-serif;
}
.about-details{
    color: white;
    font-family: "montserrat" ,sans-serif;
    font-size: 14px;
    text-align: center;
}
.block1-img{
    margin-left: 47.5px;
}
.block2-img{
    margin-left:60px;
}
.block3-img{
    margin-left: 47.5px;
}
.block4-img{
    margin-left: 47.5px;
}
.block5-img{
    margin-left: 50px;
}
.block6-img{
    margin-left: 50px;
}